/* Moving the Spotify Player to the left */
.spotify-in-discord-player {
    transition: 0.5s;
    border-top-right-radius: 8px;
    position: fixed;
    z-index: 1;
    bottom: 0.5px;
      left: 0px;
    background-color: rgba(17, 17, 17, 0.233);
      overflow: hidden;
      width: 72px;
  }
  .spotify-in-discord-player:hover {
      width: 240px;
  }
  .spotify-in-discord-player-seek-bar-progress {
      background-color: var(--main-color);
  }
  .spotify-in-discord-player-seek-bar {
    background-color: var(--background-overlay);
  }
  .spotify-in-discord-player {
    background-color: rgba(0, 0, 0, 0.972);
  }
  .panels-j1Uci_ .container-3baos1 {
      border: 0;
  }
  .spotify-in-discord-player .avatarWrapper-2yR4wp {
      margin-left: 12px;
      transition: 0.5s;
  }
  .spotify-in-discord-player:hover .avatarWrapper-2yR4wp {
      margin-left: 0px;
  }