/* Hiding Things Area*/
/* Hides Textbox when you don't have permission to talk in the channel */
.channelTextAreaDisabled-8rmlrp > div {
    display: none
  }
/*Gift Button Hider Snippet*/
  .channelTextArea-rNsIhG .buttons-3JBrkn .button-38aScr[tabindex="0"]:first-child,
  .channelTextArea-rNsIhG .buttons-3JBrkn .buttonWrapper-1ZmCpA + .buttonWrapper-1ZmCpA[tabindex="0"] {
      display:none;
  }
  .channelTextArea-rNsIhG .buttonContainer-28fw2U .button-38aScr {
      display:block !important;
  }
/* Noise Suppression Button Hider*/
    [aria-label="Noise Suppression powered by Krisp"] {
      display: none; 
    }
/* Hide the live text to just be a Dot (due to the text taking up too much space)*/
  .liveSmall-1dy2uA {
    font-size: 0px;
  }
/* Remove Seperator between Home and Guilds */
.guildSeparator-3s64Iy {
    display: none;
  }
/* Hide Invite to server button on user right click */
.colorDefault-2K3EoJ[id="user-context-invite-to-server"] {
      display: none;
  }
/* Hide Call user button on user right click */
  .colorDefault-2K3EoJ[id="user-context-call"] {
      display: none;
  }
/* Hide Discord logo */
.wordmarkWindows-1v0lYD svg {display: none;}
/* Show Discord, even when you're offline */
.container-16j22k {
  background: transparent;
  pointer-events: none;
}
.container-16j22k * {
  display: none;
}
.container-16j22k::before {
  content: 'You\'ve gone offline';
  display: block;
  bottom: 24px;
  right: 24px;
  position: absolute;
  padding: 8px 16px;
  background-color: #f04747;
  border-radius: 4px;
  color: #fff;
}
/* Doing this just incase they change the class again */
[aria-label="Help"] {
  display: none; 
}
/* Hide Mute/Deafen buttons when not in a voice call (Original from Zerthox) 
  .container-3baos1 .button-14-BFJ:first-child,
  .container-3baos1 .button-14-BFJ:nth-child(2),
  .container-3baos1 .button-14-BFJ:nth-child(3)::before {
      display:none;
  }
  .container-1giJp5 + .container-3baos1 .button-14-BFJ:first-child,
  .container-1giJp5 + .container-3baos1 .button-14-BFJ:nth-child(2),
  .container-1giJp5 + .container-3baos1 .button-14-BFJ:nth-child(3)::before {
      display: flex;
  }
*/
/* Hide Picture in Picture Streaming (if you like to see them let me know and ill move it to a diff CSS*/
/* .pictureInPictureWindow-1B5qSe{display:none;}
