/*@import url(https://xcruxiex.github.io/BBDThemes/Aesthetics/UserBackgrounds/Main.css);*/
/* For other Fixes such as Hide Memberlist , Servers etc they are now located in https://raw.githubusercontent.com/SuperDeath/superdeath.github.io/master/README.md
PS if your looking at this your awesome and wash your hands and stay safe OWO :) */
@import "Import.css";
/*@import "credits.css";*/
/* Home Icon */
#app-mount .listItemWrapper-3X98Pc .childWrapper-anI2G9 {
    background: url("https://i.imgur.com/233d55Y.gif") center/cover no-repeat;
  }
  .homeIcon-tEMBK1 {
    display: none;
  }
/* Channel Tabs */
.channelTabs-tabContainer { 
  background: rgba(0, 0, 0, calc(var(--background-shading) * .6));
   color: rgba(255,255,255,0.5);
   margin-left: 72px;
}
/* Animated Ping Icon */ 
  .ping-2NgC8E {
    width: 18px;
    height: 18px
    }
    .ping-2NgC8E {
    transform-origin: bottom;
    rx:0;
    animation: ping-counter 2s linear infinite
    }
    
    .active-2h1NLh:nth-child(2) {
    animation-delay: .5s
    }
    
    .active-2h1NLh:nth-child(3) {
    animation-delay: 1s
    }
    
    @keyframes ping-counter {
    0% {
      transform: scaleY(1)
    }
    50% {
      transform: scaleY(.5)
    }
    100% {
      transform: scaleY(1)
    }
    }
/* Removes the background behind the Member count*/
   .theme-dark #MemberCount {
    background-color: transparent !important;
}

/* Hides Textbox when you don't have permission to talk in the channel */
.channelTextAreaDisabled-8rmlrp > div {
  display: none
}

/* removes the stupid background on messages over hover */
  .mouse-mode .message-2qnXI6:hover {
    background-color: transparent !important;
  }

/* go back to the regular spacing between messages */
  .container-3FojY8 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
/* changes the color of the context menu and makes it a more appropriate size */
  .wrapper-2aW0bm {
    transform: scale(0.6)
  }
  .container-3npvBV .wrapper-2aW0bm {background-color: rgba(0,0,0,0.4);}
/*Gift Button Hider Snippet*/
  .channelTextArea-rNsIhG .buttons-3JBrkn .button-38aScr[tabindex="0"]:first-child,
  .channelTextArea-rNsIhG .buttons-3JBrkn .buttonWrapper-1ZmCpA + .buttonWrapper-1ZmCpA[tabindex="0"] {
      display:none;
  }
  .channelTextArea-rNsIhG .buttonContainer-28fw2U .button-38aScr {
      display:block !important;
  }
/*  Talking Blue with blue glow */ 
  .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
    background: var(--main-color) var(--home-icon) var(--home-position)/var(--home-size);
  }.avatarSpeaking-1wJCNq {
  box-shadow: none;
  }
  .avatarSpeaking-1wJCNq::before {
  content: "";
  display: block;
  height: 20px;
  border-left: 4px solid #43b581;
  position: absolute;
  left: -5px;
  }
  
  .member-3W1lQa {
    position: relative;
    background: transparent !important;}
  .mention { color: var(--main-color);}
  
/* Hide Mute/Deafen buttons when not in a voice call (Original from Zerthox) 
  .container-3baos1 .button-14-BFJ:first-child,
  .container-3baos1 .button-14-BFJ:nth-child(2),
  .container-3baos1 .button-14-BFJ:nth-child(3)::before {
      display:none;
  }
  .container-1giJp5 + .container-3baos1 .button-14-BFJ:first-child,
  .container-1giJp5 + .container-3baos1 .button-14-BFJ:nth-child(2),
  .container-1giJp5 + .container-3baos1 .button-14-BFJ:nth-child(3)::before {
      display: flex;
  }
  */
 /* Spoiler show on hover */
  .spoilerText-3p6IlD.hidden-HHr2R9:hover .inlineContent-3ZjPuv {
  opacity: 1;
  border-radius: 3px;
  background-color: #4a4d53;
}
/* Fly in Voice Chat buttons */

.container-3baos1 .noWrap-3jynv6 {
  width: 0px;
  opacity: 0;
  pointer-events: none;
  transition: all .6s ease-in-out;
}

.container-3baos1:hover .noWrap-3jynv6 {
  width: 100px;
  opacity: 1;
  pointer-events: all;
}

/* Noise Suppression Button Hider*/
  [aria-label="Noise Suppression powered by Krisp"] {
    display: none; 
  }
  
/* Fix Dm Outlined */
.scroller-2TZvBN>:not(.listItem-2P_4kh):nth-child(2) {justify-content: left !important;}

/* Help Button Hider*/
  .toolbar-1t6TWx .iconWrapper-2OrFZ1:last-child{display: none}
  
/*Enlarges reactions on hover */
   .da-reaction .da-reactionInner > img {
    position: relative;
    transition: all 0.08s linear;
  }
  .da-reaction .da-reactionInner:hover > img {
    transform: scale(3) translate(calc(-100%/3), 10%);
    z-index: 2001;
  }
  
/* Remove the discord icon */
  .wordmark-2iDDfm {
    display: none;
  }
  .wordmark-2iDDfm:after {
    content: "4";
    color: #ffff;
  }
  .wordmark-2iDDfm > svg {
    display: none;
  }
/*Change the Spotify Seekbar to match the colour of the --main-color var*/

/* The Spotify pluging from powercord breaks the hide mute/deff buttons when not in VC if you join a after starting spotify*/
.powercord-spotify .spotify-seek-bar-progress {
	background-color: var(--main-color);
}
/* Hide Picture in Picture Streaming (if you like to see them let me know and ill move it to a diff CSS*/
/* .pictureInPictureWindow-1B5qSe{display:none;}
/* Hide the live text to just be a Dot (due to the text taking up too much space)*/
.liveSmall-1dy2uA {
    font-size: 0px;
}
/* Spotify Model change to copy main Var(--main-color) of theme */ 
.barFill-Dhkah7 {
  background: var(--main-color) !important;
}
.timeline-UWmgAx:hover
.barFill-Dhkah7 {
  background: var(--main-color) !important;
}
