@import url(https://xcruxiex.github.io/BBDThemes/Aesthetics/UserBackgrounds/Main.css);
/* For other Fixes such as Hide Memberlist , Servers etc they are now located in https://raw.githubusercontent.com/SuperDeath/superdeath.github.io/master/README.md
PS if your looking at this your awesome and wash your hands and stay safe OWO :) */
@import "Import.css";
/*@import "credits.css";*/
/* Home Icon */
#app-mount .listItemWrapper-3X98Pc .childWrapper-anI2G9 {
    background: url("https://i.imgur.com/233d55Y.gif") center/cover no-repeat;
  }
  .homeIcon-tEMBK1 {
    display: none;
  }
/* Animated Ping Icon */ 
  .ping-2NgC8E {
    width: 18px;
    height: 18px
    }
    .ping-2NgC8E {
    transform-origin: bottom;
    rx:0;
    animation: ping-counter 2s linear infinite
    }
    
    .active-2h1NLh:nth-child(2) {
    animation-delay: .5s
    }
    
    .active-2h1NLh:nth-child(3) {
    animation-delay: 1s
    }
    
    @keyframes ping-counter {
    0% {
      transform: scaleY(1)
    }
    50% {
      transform: scaleY(.5)
    }
    100% {
      transform: scaleY(1)
    }
    }
/* Removes the background behind the Member count*/
   .theme-dark #MemberCount {
    background-color: transparent !important;
}

/* Hides Textbox when you don't have permission to talk in the channel */
.channelTextAreaDisabled-8rmlrp > div {
  display: none
}

/* removes the stupid background on messages over hover */
  .mouse-mode .message-2qnXI6:hover {
    background-color: transparent !important;
  }
  
/* makes the unread thing in the center instead of the right, also rounds it 
  .unreadPill-2HyYtt {
    left: 45%;
    right: 50%;
    border-radius: 10px;
  }
/* gets rid of the pointy tip on the unread bar 
  .unreadPillCap-3_K2q2 {
    display: none;
  }
/* go back to the regular spacing between messages */
  .container-3FojY8 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
/* changes the color of the context menu and makes it a more appropriate size */
  .wrapper-2aW0bm {
    transform: scale(0.6)
  }
  .container-3npvBV .wrapper-2aW0bm {background-color: rgba(0,0,0,0.4);}
/*Gift Button Hider Snippet*/
  .channelTextArea-rNsIhG .buttons-3JBrkn .button-38aScr[tabindex="0"]:first-child,
  .channelTextArea-rNsIhG .buttons-3JBrkn .buttonWrapper-1ZmCpA + .buttonWrapper-1ZmCpA[tabindex="0"] {
      display:none;
  }
  .channelTextArea-rNsIhG .buttonContainer-28fw2U .button-38aScr {
      display:block !important;
  }
/*  Talking Blue with blue glow */ 
  .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
    background: var(--main-color) var(--home-icon) var(--home-position)/var(--home-size);
  }.avatarSpeaking-1wJCNq {
  box-shadow: none;
  }
  .avatarSpeaking-1wJCNq::before {
  content: "";
  display: block;
  height: 20px;
  border-left: 4px solid #43b581;
  position: absolute;
  left: -5px;
  }
  
  .member-3W1lQa {
    position: relative;
    background: transparent !important;}
  .mention { color: var(--main-color);}
  
/* Hide Mute/Deafen buttons when not in a voice call (Original from Zerthox) */
  .container-3baos1 .button-14-BFJ:first-child,
  .container-3baos1 .button-14-BFJ:nth-child(2),
  .container-3baos1 .button-14-BFJ:nth-child(3)::before {
      display:none;
  }
  .container-1giJp5 + .container-3baos1 .button-14-BFJ:first-child,
  .container-1giJp5 + .container-3baos1 .button-14-BFJ:nth-child(2),
  .container-1giJp5 + .container-3baos1 .button-14-BFJ:nth-child(3)::before {
      display: flex;
  }
  
/* Noise Suppression Button Hider*/
  [aria-label="Noise Suppression powered by Krisp"] {
    display: none; 
  }
  
/* Fix Dm Outlined */
.scroller-2TZvBN>:not(.listItem-2P_4kh):nth-child(2) {justify-content: left !important;}

/* Help Button Hider*/
  .toolbar-1t6TWx .iconWrapper-2OrFZ1:last-child{display: none}
  
/*Enlarges reactions on hover */
   .da-reaction .da-reactionInner > img {
    position: relative;
    transition: all 0.08s linear;
  }
  .da-reaction .da-reactionInner:hover > img {
    transform: scale(3) translate(calc(-100%/3), 10%);
    z-index: 2001;
  }
  
/* Remove the discord icon */
  .wordmark-2iDDfm {
    display: none;
  }
  .wordmark-2iDDfm:after {
    content: "4";
    color: #ffff;
  }
  .wordmark-2iDDfm > svg {
    display: none;
  }
/* Activity hider*/
  .nowPlayingColumn-2sl4cE {
    position: relative;
    left: 339px ;
    opacity: 1;
    margin-left: -320px;
    transition: .7s all ease-out;}
  .nowPlayingColumn-2sl4cE:hover {
    left: 0 ;
    opacity: 1;
    margin-left: 0;
    transition: .7s all ease-out;}
/* Editing the Clearvision Logo to hide when not hovering over
/* And inturn making the Spotify box look better*/
.container-3baos1:before {
	display: none;
}
.container-3baos1:after {
	content: "ClearVision" !important;
	left: 40% ;
}
/*Change the Spotify Seekbar to match the colour of the --main-color var*/
.powercord-spotify .spotify-seek-bar-progress {
	background-color: var(--main-color) !important;
}
/* Hide Picture in Picture Streaming (if you like to see them let me know and ill move it to a diff CSS*/
.pictureInPictureWindow-1B5qSe{display:none;}
/* Hide the live text to just be a Dot */
.liveSmall-1dy2uA {
    font-size: 0px;
}